/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 1.2rem;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
End meyer reset
*/

:root {
    font-family: Helvetica, sans-serif, Arial;
    gap: 0.3125rem;
}

body,
html {
    height: 100%;
    margin: 0;
}



ul {
    list-style: none;
}

h1 {
    padding: 1.25rem 0px 0px 1.875rem;
    font-weight: 800;
    font-size: 1.5rem;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f3edff;
}

.container {
    display: grid;
    height: 100vh;
    max-height: 115vh;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: auto 1fr;
}

.header-container {
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    background-color: #483AA0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 15%;
    padding: 0.9375rem 0.9375rem 0.75rem 3.4375rem;
}

.util-top-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-utility .util-top-right svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.2rem;
}

h2 {
    font-size: 2rem;
}

.sidebar {
    padding-top: 2rem;
    grid-column-start: 1;
    grid-row: 2 / -1;
    display: grid;
    grid-auto-rows: 1fr 1fr;
    background-color: #2A1458;
    font-size: 1.2rem;
    row-gap: 1rem;
}

.sidebar-hero {
    display: grid;
    align-items: center;
    grid-row: 1/2;
    background-color: #2A1458;
    font-weight: 800;
    font-size: 1.5rem;
    color: #ffff;
}

.sidebar,
.sidebar-hero {
    justify-content: center;
}

.sidebar-hero {
    gap: 1rem;
    font-size: 1.8rem;
}

.sidebar-hero a {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    gap: 0.5rem;
}

svg {
    fill: white;
}

.sidebar-hero svg {
    height: 4rem;
    width: 4rem;
}

.nav-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-weight: 800;
}

.nav-link {
    padding: 0.25rem;
}

.nav-link a {
    display: flex;
    flex: 0;
    align-items: center;
    gap: 1rem;
}

.nav-link svg {
    height: 2rem;
    width: 2rem;
}

.nav-link:hover svg,
.sidebar-hero a:hover svg {
    fill: #f3edff;
}

.nav-link:hover {
    transform: translateX(2px);
    transition: transform 0.25s ease;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #f3edff;
    padding-bottom: 2.5%;
    overflow-y: auto;
}

.header-utility {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-row: 1/2;
    align-content: center;
}

.dashboard-utility {
    display: grid;
    /*
    grid-template-columns: 1.5fr 1fr;
    */
    grid-template-columns: 1fr 0.95fr;
    grid-row: 2/-1;
}

.user-small {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
}

.user-small img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.user-small h2 {
    font-size: 1rem;
    color: white;
}

.user-small:hover {
    cursor: pointer;
    opacity: 0.8;
}

.user-greeting {
    display: flex;
    color: white;
    grid-column-start: 1;
    gap: 0.9375rem;
    align-items: center;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.user-greeting img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.user-greeting .username-large:hover,
.user-greeting img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.user-greeting img:hover+.welcome .username-large {
    cursor: pointer;
    opacity: 0.8;
}

.user-greeting .username-large:hover img {
    cursor: pointer;
    opacity: 0.8;
}

.util-top-right svg:hover {
    cursor: pointer;
    opacity: 0.8;
}


.projects-container {
    display: grid;
    grid-column-start: 1;
    grid-template-rows: auto 1fr;
    padding: 0px 3.4375rem;
}

.projects-container h1 {
    padding: 1.5625rem 0px 0.9375rem 0px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: 0.9375rem;
    column-gap: 0.9375rem;
}

.side-content {
    display: grid;
    grid-column-start: 2;
    color: black;
    grid-template-rows: auto auto;
}

.announcements,
.trending {
    display: grid;
    grid-column: 2/-1;
    grid-template-rows: auto 1fr;
    padding: 1.5625rem 0px 0px 0px;
    background-color: #f3edff;
}

.trending {
    padding: 0.625rem 0px 0px 0px;
}

.announcement-card,
.trending-card {
    font-size: 1rem;
    display: grid;
    background-color: white;
    box-shadow: 0.25rem 0.3125rem 0.25rem rgb(202, 202, 202);
    border-radius: 0.3125rem;
}

.announcement-card {
    margin-bottom: 0.625rem;
    padding: 0.9375rem;
}

.trending-card {
    padding: 1.25rem;
}

.announcement-section:not(:last-child),
.trending-user:not(:last-child) {
    border-bottom: 1px solid #483AA0;
}

.announcement-section:not(:first-child),
.trending-user:not(:first-child) {
    margin-top: 0.3125rem;
}

.announcement-section {
    padding: 0.9375rem;
}

.trending-user {
    padding: 0px 0.9375rem 0.9375rem 0.9375rem;
}

.announcements h1,
.trending h1 {
    padding: 0px 0px 0.9375rem 0px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    background-color: white;
    box-shadow: 0.25rem 0.3125rem 0.25rem rgb(202, 202, 202);
    line-height: 1.5;
    border-left: 0.25rem solid #0E2148;
    border-top: 1px solid #0E2148;
}

.trending-card {
    border-left: 0.25rem solid #2A1458;
    border-top: 1px solid #2A1458;
}

.card h1 {
    padding: 0px;
    font-size: 1.4rem;
}

.card:hover {
    background-color: #f3edff;
    cursor: pointer;
    transform: translateX(2px);
    transition: transform 0.1s ease;
}

.trending-user:hover,
.announcement-section:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: translateX(2px);
    transition: transform 0.1s ease;
}

.announcement-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.announcement-card h1,
.trending-card h1 {
    font-size: 1.1rem;
}

.trending-card {
    display: grid;
    gap: 0.9375rem;
}

.trending-user {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.trending-user-info {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    justify-content: center;
}

.trending-user .username {
    font-weight: 800;
    font-size: 1.1rem;
}

.user-avatar-small {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

button {
    outline: none;
    border: none;
    border-radius: 0.3125rem;
    max-width: 6.25rem;
    max-height: 2.5rem;
    background-color: #fff;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0.625rem 1.25rem;
}

button:hover {
    background-color: #f3edff;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 1.25rem;
    grid-column-start: 2;
    align-items: center;
    justify-content: center;
}

.projects-container>h1 {
    display: grid;
    align-items: center;
}

/*
*/

.searchbar {
    width: 100%;
    max-width: 33.125rem;
    display: inline-flex;
}

.searchbar-input {
    flex-grow: 1;
    padding: 0.625rem;
    border: 1px solid rgb(255, 252, 62);
    border-radius: 0.3125rem 0 0 0.3125rem;
    background: rgb(230, 230, 230);
    transition: background 0.25s, box-shadow 0.25s;
    outline: none;
    border: none;
}

.searchbar-input:focus {
    background: white;
    box-shadow: 0 0 2px rgb(230, 230, 230);
}

.searchbar-button {
    width: 2.5rem;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0.3125rem 0.3125rem 0;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .header-container {
        padding: 0.9375rem 0.9375rem 0.75rem 1.2rem;
    }

    .container {
        grid-template-columns: 1fr 3.5fr;
    }

    .searchbar-input {
        flex: 0;
        padding: 0.25rem;
    }

    .sidebar {
        grid-template-rows: 24rem 4rem;
    }

    .sidebar .nav-container {
        gap: 1.5rem;
    }

    .sidebar-hero {
        font-size: 1.2rem;
    }

    .sidebar-hero a {
        flex: 1;
        gap: 0.25rem;
        align-items: center;
    }

    .sidebar-hero svg {
        height: 3rem;
        width: 3rem;
    }

    .sidebar {
        font-size: 1.3rem;
    }

    .sidebar svg {
        height: 1.2rem;
        width: 1.2rem;
    }

    .projects-container {
        padding: 0px 1rem;
    }

    .main-content {
        grid-template-columns: 2fr 1fr;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .user-avatar-small {
        height: 3rem;
        width: 3rem;
    }

    .trending-user-info {
        gap: 0.25rem;
    }

    .trending-card {
        padding: 1rem 1rem 1rem 1rem;
    }

    .user-blurb {
        flex: 1;
        font-size: 0.9rem;
    }
}