/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 1.2rem;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
End meyer reset
*/

:root {
    font-family: Helvetica, sans-serif, Arial;
    gap: 5px;
}

body,
html {
    height: 100%;
    margin: 0;
}

ul {
    list-style: none;
}

h1 {
    padding: 20px 0px 0px 30px;
    font-weight: 800;
    font-size: 1.5rem;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

.container {
    display: grid;
    height: 100vh;
    max-height: 115vh;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: auto 1fr;
}

.header-container {
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    background-color: #483AA0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 15%;
    padding: 15px 15px 25px 35px;
}

h2 {
    font-size: 2rem;
}

.sidebar {
    padding-top: 2rem;
    grid-column-start: 1;
    grid-row: 2 / -1;
    display: grid;
    grid-auto-rows: 1fr 1fr;
    background-color: #2A1458;
    font-size: 1.2rem;
}

.sidebar-hero {
    display: grid;
    align-items: center;
    grid-row: 1/2;
    background-color: #2A1458;
    font-weight: 800;
    font-size: 1.5rem;
    color: #ffff;
}

.sidebar,
.sidebar-hero {
    justify-content: center;
}

.nav-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-weight: 800;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #f3edff;
    padding-bottom: 2.5%;
    overflow-y: auto;
}

.header-utility {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-row: 1/2;
    align-content: center;
}

.user-small {
    display: flex;
    align-items: center;
}

.user-small h2 {
    font-size: 1rem;
    color: white;
}

.dashboard-utility {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-row: 2/-1;
}

.user-greeting {
    color: white;
    grid-column-start: 1;
}

.projects-container {
    display: grid;
    grid-column-start: 1;
    grid-template-rows: auto 1fr;
    padding: 0px 55px;
}

.projects-container h1 {
    padding: 25px 0px 15px 0px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}

.side-content {
    display: grid;
    grid-column-start: 2;
    color: black;
    grid-template-rows: auto auto;
}

.announcements,
.trending {
    display: grid;
    grid-column: 2/-1;
    grid-template-rows: auto 1fr;
    padding: 25px 0px 0px 0px;
    background-color: #f3edff;
}

.trending {
    padding: 10px 0px 0px 0px;
}

.announcement-card,
.trending-card {
    font-size: 1rem;
    display: grid;
    background-color: white;
    box-shadow: 4px 5px 4px rgb(202, 202, 202);
    border-radius: 5px;
}

.announcement-card {
    margin-bottom: 10px;
    padding: 15px;
}

.trending-card {
    padding: 20px;
}

.announcement-section:not(:last-child),
.trending-section:not(:last-child) {
    border-bottom: 1px solid #483AA0;
}

.announcement-section:not(:first-child),
.trending-section:not(:first-child) {
    margin-top: 5px;
}

.announcement-section,
.trending-section {
    padding: 15px;
}

.announcements h1,
.trending h1 {
    padding: 0px 0px 15px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 5px 4px rgb(202, 202, 202);
    line-height: 1.5;
    border-left: 4px solid #0E2148;
    border-top: 1px solid #0E2148;
}

.card h1 {
    padding: 0px;
    font-size: 1.4rem;
}

.announcement-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.announcement-card h1,
.trending-card h1 {
    font-size: 1.1rem;
}

.trending-card {
    display: grid;
    gap: 15px;
}

.trending-user {
    display: flex;
    gap: 20px;
}

.trending-user-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.trending-user .username {
    font-weight: 800;
    font-size: 1.1rem;
}

.user-avatar-small {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 15px;
    grid-column-start: 2;
}

.side-content h1 {}

.projects-container>h1 {
    display: grid;
    align-items: center;
}

/*
*/

.searchbar {
    width: 100%;
    max-width: 530px;
    display: inline-flex;
}

.searchbar-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid rgb(255, 252, 62);
    border-radius: 5px 0 0 5px;
    background: rgb(230, 230, 230);
    transition: background 0.25s, box-shadow 0.25s;
    outline: none;
    border: none;
}

.searchbar-input:focus {
    background: white;
    box-shadow: 0 0 2px rgb(230, 230, 230);
}

.searchbar-button {
    width: 40px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}

button {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    max-height: 40px;
    background-color: #fff;
    font-weight: 800;
    font-size: 1.1rem;
}